<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
      <div style="border-bottom:1px solid #eee">
        <a href="" style="font-size:1.4em;color: #f89e31;text-decoration:none;font-weight:600">Team CryptBee</a>
      </div>
      <p>Thank you for using <strong>CryptBee</strong>. Navigate to this link to complete your Email Verification procedures.
        Link is <strong>valid for 15 minutes</strong>.</p>
      <h2 style="background: #f89e31;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">
        <a href={{link}} style="font-size:1.1em; ;color: #fff;text-decoration:none;">Click here to verify</a></h2>
      <p style="font-size:0.9em;">Regards,<br />Team CryptBee</p>
      <hr style="border:none;border-top:1px solid #eee" />
      <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
        <p>Team CryptBee</p>
      </div>
    </div>
  </div>